<style>
@import url('https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Open+Sans+Condensed:300&display=swap');
</style>

:root {
  --primary1: #008080;
  --primary2: #808080;
  --secondary11: #000000;
  --paragraphText: 'Open Sans Condensed', sans-serif;
  --headingText: 'Fjalla One', sans-serif;
  --navigationText: 'Dosis', sans-serif;
}



h1 {
  color: #008080;
  font-family: var(--headingText);
}
img {
  width: 50%;
}
ul a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li a {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: overline;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: grey;
}
h2 {
  color: grey;
  font-family: var(--headingText);
}

ul {
list-style-type: none;
margin: 6px;
padding: 6px;
}

div.a {
  font-size: 20px;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

th {
height: 50px;
background-color: #008080;
color: #000000;
}

td {
  height: 20px;
  vertical-align: center;
  padding left: 20px;
}

tr:nth-child(even) {background-color: #C0C0C0}

caption {
  color: ;
  font-family: ;
}
