@import url('https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Open+Sans+Condensed:300&display=swap');


:root {
  --paragraphText: 'Open Sans Condensed', sans-serif;
  --headingText: 'Fjalla One', sans-serif;
  --navigationText: 'Dosis', sans-serif;
}


/* start of heading css */
h1 {
  color: #008080;
  font-family: var(--headingText);
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, 13px -17px 5px rgba(206,89,55,0);
}

h2 {
  color:#808080;
  font-family: var(--headingText);
  padding-left: 60px;
}

h3 {
  color: #474747;
  font-family: var(--headingText);
  text-shadow: 5px 5px 2px #C0C0C0;
  padding-left: 20px;
}

h4 {
  color: #008080;
  font-family: var(--navigationText);
  padding-left: 15px;
}
/* end of heading css */

/* start of paragraph css */
p {
  font-family: var(--paragraphText);
  color: #000000;
  font-size: 22px;
  padding-left: 20px;
}
/* end of paragraph css */


/* start of image css */
img {
  width: 45%;
  height: 800px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 50px;
  display: block;
  margin-left: 400px;
  margin-right: 300px;
}
/* end of image css */


/* start of navigation css */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C0C0C0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 30px 152.3px;
  text-decoration: overline;
}

li a:hover {
  background-color: #808080;
}

.active {
  background-color: #000000;
  color: #FFFFFF;
}
/* end of naavigation css */


/* start of table css */
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

th {
height: 50px;
background-color: #008080;
color: #000000;
}

td {
  height: 20px;
  vertical-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

tr:nth-child(even) {
  background-color: #C0C0C0
}
/* end of table css */


/* start of caption css */
caption {
  color: #000000;
  font-family: cursive;
  height: 30px;
}
/* end of caption css */


header {
  grid-area: header;
}

main {
  grid-area: main;
}

/* start of aside css */
aside {
  grid-area: aside;
  background: #008080;
  position: absolute;
}
/* end of aside css */


/* start of footer css */
footer {
  grid-area: footer;
  background: #000000;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* end of footer css */

section {
  grid-area: section;
}

article {
  grid-area: article;
  font-family: var(--paragraphText)
}

/* start of image caption css */
figcaption {
  font-family: var(--navigationText);
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 700px;
}
/* end of image css */

ul la {
  background: #808080;
  color: #000000;
  font-famliy: var(--paragraphText);
  padding: 30px;
}

/* start of footer link css */
.ahref {
  color: #008080;
}
/* end of footer link css */
